{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}

{% block contents %}
    <h3>{{ subHeader }}</h3>
    <a href="{{ path('app_logout') }}">logout</a>
    <img src="{{ asset('images/Elephant.png') }}" alt="elephant">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut consectetur culpa doloremque eum, eveniet
        libero, magni nulla optio quae quo ratione saepe, sint sunt temporibus unde vero voluptate voluptatem!</p>

    {{ form_start(searchForm) }}
    {{ form_row(searchForm.name) }}
    {{ form_end(searchForm) }}

    {{ city_message }}
    <div id="userList">
        <ol>
            {% for user in cityUsers %}
                    <li>{{ user.username }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
