{% extends "base.html.twig" %}

{% block contents %}
    {{ form_start(form) }}
    {{ form_row(form.city) }}

    <button type="submit">Search</button>
    {{ form_end(form) }}
    {{ weatherShortDescription }}
    <p>
        <a href="{{ path('app_login') }}">Log in</a>
    </p>
    <p>
        <a href="{{ path('app_registration') }}">Log up</a>
    </p>
{% endblock %}